*{
    margin: 0;
}
aside{
    height: 100vh;
    width: 200px;
    /* border: solid; */
    background-image: linear-gradient(to right, #333333, #dd1818);
    position: fixed;
}
aside img{
    width: 150px;
    height: 150px;
    aspect-ratio: 16/9 ;
    border: 3px rgb(21, 21, 81) solid;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    z-index: 1000;
}
aside img:hover{
    border: black solid;
    box-shadow: 1px 1px 10px 3px;
    filter: contrast(3);
}
.nav-items {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}
.nav-items:hover a{
    filter: blur(4px);
}
.nav-items a{
    
    text-decoration: none;
    font-size: 20px;
    color: black;
    line-height: 5
    0px;
}
.nav-items a:hover{
    color: black;
    text-decoration: underline;
    filter:blur(0px)
}
/* #nav:hover{
    /* filter: blur(5px); */
    /* backdrop-filter: blur(3px); */
    
/* }
aside img hover{9

} */ 
*{
    margin:0;
}
.container{
    height: 100vh;
    width: 1180px;
    background-image: linear-gradient(to right, #333333,#dd1818);
    position: absolute;
    top: 0px;
    left: 200px;
    
}
.box{
    height: 500px;
    margin: 40px 30px 40px 100px;
    width: 900px;
    border: 3px rgb(28, 23, 23) solid;
}
.box h1{
    margin: 10px 0px 0px 15px;
   
    /* text-shadow: #33052f;  */
    /* background-image: url();
    -webkit-background-clip: text ;
    -webkit-text-fill-color:transparent ;
    background-position-y: 50px; */
}
div p{
    
    margin-top: 20px;
}   
.p ul{
    font-size: 25px;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    /* display: flex; */
    /* flex-direction: column; */

    
}
 .box img{
     height: 330px;
    width: 250px;
     position: absolute;
     top: 100px;
    left: 650px;
    border: solid black 3px;
 }
    /* height: 200px;
    width: 150px; */
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    /* position: absolute;
    right: 100px;   */
/* } */
.qua{
    height: 100vh;
    width: 1180px;
    background-image: linear-gradient(to right, #333333, #dd1818);
    position: absolute;
    top: 100vh;
    left: 200px;
    
}
.ite{
    height: 500px;
    margin: 40px 30px 40px 100px;
    width: 900px;
    border: 3px rgb(28, 23, 23) solid;
    

}
.ite h1{
    margin: 10px 0px 20px 15px;
}
.ite ul li{
    font-size: 30px;
}

.skill{
    height: 100vh;
    width: 1180px;
    background-image: linear-gradient(to right, #333333, #dd1818);
    position: absolute;
    top: 200vh;
    left: 200px;

}
.set{
    height: 500px;
    margin: 40px 30px 40px 100px;
    width: 900px;
    border: 3px rgb(28, 23, 23) solid;

}
.set h1{
    margin: 10px 0px 20px 15px;
} 

.icon img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 50px;
    line-height: 10px;
    /* margin: 10px 0 0 65px; */
}
.project{
    height: 100vh;
    width: 1180px;
    background-image: linear-gradient(to right, #333333, #dd1818);
    position: absolute;
    top: 300vh;
    left: 200px;
}
.proname{
    height: 500px;
    margin: 40px 30px 40px 100px;
    width: 900px;
    border: 3px rgb(28, 23, 23) solid;
}
.proname h1{
    margin: 10px 0px 20px 15px;
}
.unacademics p{
    font-size: 20px;
    margin-left: 30px;
}
.unacademics img{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 350px;

}
.information{
    height: 100vh;
    width: 1180px;
    background-image: linear-gradient(to right, #333333, #dd1818);
    position: absolute;
    top: 400vh;
    left: 200px;
}
.info{
    height: 500px;
    /* margin: 0px 30px 20px 100px; */
    margin-top: 40px;
    margin-left: 100px;
    width: 900px;
    border: 3px rgb(28, 23, 23) solid;
    /* font-size: 20px; */
}
.info h1{
    margin: 10px 0px 20px 15px;
}
.about-info h3{
    margin-left: 50px;
    margin-top: 20px;
}
/* .table{
    margin: 0px 0px 0px 25px;

} */
.contact{
    height: 100vh;
    width: 1180px;
    background-image: linear-gradient(to right, #333333, #dd1818);
    position: absolute;
    top: 500vh;
    left: 200px;
    /* flex-direction: row; */
}
.con{
    height: 200px;
    margin: 40px 30px 20px 100px;
    width: 900px;
    border: 3px rgb(28, 23, 23) solid;
}
.con h1{
    margin: 10px 0px 0px 25px;
}
.cons a{
    height: 50px;
    width: 50px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 30px 0 0 50px;

}
